section.page-content {
	width: 40%;
}
a {
	text-decoration: none;
	color: #4b84a8;
	font: 1em "Open Sans";
}
div.post {
	-webkit-animation: opacity 1.5s ease-in-out;
	// opacity: 0;
	margin: 0 0 4% 0;
	font: 1em "Open Sans";
	border-bottom: 1px solid #c8c8c8;
	text-align: justify;
}
p {
	padding: 0;
	padding-bottom: 2%;
	margin: 0;
}
.title {
	text-decoration: none;
	color: #192932;
	font-size: 1.5em;
}
div.image {
	border: 1px solid #d6d6d6;
	margin-bottom: 2%;
	width: 100%;
	height: 200px;
	overflow: hidden;
}
@-webkit-keyframes opacity {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
